@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* 700 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* 400 */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap'); /* 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); /* 500 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); /* 600 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap'); /* 700 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* HEADER */

header > nav > .desktop_links {
  display: none;
}

header > nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  padding: 12px 24px;
}

header > nav > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

header > nav > .hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* HEADER */

/* HEADLINE SECTION */

section#headline {
  width: 100%;
  background: #1c1a19;
  background-image: url('assets/illustration_header_mobile.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 230px;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

section#headline > .headline_right > h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

section#headline > .headline_right > p.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

section#headline > .headline_right > p.title_description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social {
  padding: 0 8px;
  display: flex;
  column-gap: 16px;
}

/* HEADLINE SECTION */

/* PORTFOLIO SECTION */

#portfolio {
  padding: 120px 24px;
}

#portfolio > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  margin-bottom: 24px;
}

#portfolio > .cards {
  display: grid;
  grid-template-columns: auto;
  margin-top: 80px;
  row-gap: 24px;
}

#portfolio > .cards > .unusualCard {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

#portfolio > .cards > .unusualCard > img {
  margin-bottom: 12px;
  width: 100%;
}

#about > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  overflow: hidden;
}

#contact > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

#portfolio > .cards > .unusualCard > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  text-align: center;
}

#about > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

#delay {
  font-size: 18px;
  transition-property:font-size;
  transition-duration: 10s;
  transition-delay: 4s;
}

#delay:hover {
  font-size: 40px;
}

#portfolio > .cards > .unusualCard > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

#portfolio > .cards .skills {
  float: left;
}

#about > ul.skillTypes > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > ul.skillTypes > li > ul > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

#portfolio > .cards .skills > li {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  float: left;
  margin-right: 8px;
}

#about > button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  width: fit-content;
  background: #ff6b00;
  border: 1px solid transparent;
  margin-bottom: 187px;
}

#about > button:hover {
  cursor: pointer;
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
  transition: 0.6 ease;
  transform: scale(1.4);
}

#about > button:active {
  color: #f4f1f0;
  background: #e05304;
}

#portfolio > .cards > .unusualCard > button {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: 1px solid transparent;
  width: fit-content;
}

#portfolio > .cards > .card > button {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  border: 1px solid transparent;
  width: 100%;
}

#portfolio > .cards > .unusualCard > button:hover {
  cursor: pointer;
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

#portfolio > .cards > .unusualCard > button:active {
  color: #f4f1f0;
  background: #e05304;
}

#portfolio > .cards > .card > .main {
  background-image: url('assets/cardBg.svg');
  width: 100%;
  padding: 0 16px 22px 16px;
}

#portfolio > .cards > .card > .main > h2 {
  margin-top: 84px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

#portfolio > .cards > .card > .main > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#portfolio > .cards > .card > .main > .skills > li {
  background: rgba(255, 255, 255, 0.24);
}

#portfolio > .cards > .card > button:hover {
  cursor: pointer;
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

#portfolio > .cards > .card > button:active {
  color: #f4f1f0;
  background: #e05304;
}

/* PORTFOLIO SECTION */

/* ABOUT SECTION */

#about {
  padding: 120px 24px;
  background: #1c1a19;
  background-image: url('assets/aboutBg.svg');
  background-position-x: right;
  background-position-y: 385px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#about > ul.skillTypes {
  margin-top: 70px;
  list-style: none;
}

#about > ul.skillTypes > li > div {
  display: flex;
  column-gap: 12px;
  margin: 44px 0;
}

#about > ul.skillTypes > li > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}

/* ABOUT SECTION */

/* CONTACT SECTION */

#contact {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
}

#contact > form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#contact > form > input,
#contact > form > textarea {
  border: none;
  margin: 24px 0;
  padding: 24px 0 0 24px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#contact > form > textarea {
  background: #fbf8f7;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

#contact > form > input[type='submit'] {
  margin: 0 auto;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  width: fit-content;
  border: 1px solid transparent;
}

#contact > form > input[type='submit']:hover {
  cursor: pointer;
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

#contact > form > input[type='submit']:active {
  color: #f4f1f0;
  background: #e05304;
}

/* CONTACT SECTION */

/* FOOTER */

footer {
  border-top: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
  padding: 24px;
}

footer > .social > li > a {
  filter: invert(37%) sepia(8%) saturate(1480%) hue-rotate(180deg)
    brightness(50%) contrast(90%);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  header > nav {
    padding: 26px 154px;
  }

  header > nav > .desktop_links {
    display: flex;
    column-gap: 32px;
  }

  header > nav > .desktop_links > li > a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
  }

  header > nav > .hamburger {
    display: none;
  }

  #headline {
    flex-direction: row !important;
    align-items: center;
    background-image: url('assets/Illustration-header-desktop.svg') !important;
    background-position-y: top !important;
    background-size: 40% !important;
  }

  #headline > .headline_right {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  #headline > .headline_right > h1 {
    font-size: 72px;
    line-height: 82px;
  }

  #headline > .headline_right > p.title {
    font-size: 32px;
    line-height: 44px;
  }

  #headline > .headline_right > p.title_description {
    font-size: 20px;
    line-height: 32px;
  }

  #headline > .social {
    order: -1;
    margin-right: 85px;
    row-gap: 16px;
    width: fit-content;
    flex-direction: column;
  }

  #portfolio {
    padding: 135px 140px;
  }

  #portfolio > h2 {
    float: left;
    margin-right: 24px;
    transform: translateY(-50%);
  }

  #portfolio > .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
  }

  #portfolio > .cards > .unusualCard {
    display: block;
    margin-bottom: 24px;
  }

  #portfolio > .cards > .card {
    width: 31%;
  }

  #portfolio > .cards > .unusualCard > img {
    float: left;
    width: 59%;
    margin-right: 24px;
  }

  #portfolio > .cards > .unusualCard > h2 {
    text-align: left;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 24px;
  }

  #portfolio > .cards > .unusualCard > p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 24px;
  }

  #portfolio > .cards > .unusualCard > .skills {
    width: 38%;
  }

  #portfolio > .cards > .card > .main > .skills > li {
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  #portfolio > .cards > .card > .main > .skills > li:first-child {
    display: none;
  }

  #portfolio > .cards > .unusualCard > button {
    margin-top: 24px;
  }

  #portfolio > .cards > .card > button {
    display: none;
  }

  #portfolio > .cards > .card.first > .main {
    background-image: url('assets/cardsDesktop/card1.svg');
    background-size: cover;
  }

  #portfolio > .cards > .card.first > .main > h2,
  #portfolio > .cards > .card.first > .main > p,
  #portfolio > .cards > .card.first > .main > .skills {
    opacity: 0;
  }

  #portfolio > .cards > .card.first > .main {
    transform: translateY(-50px);
  }

  #display {
    display: block !important;
    transform: translateY(-100%);
  }

  #portfolio > .cards > .card > .main > .skills {
    margin-top: 24px;
  }

  #portfolio > .cards > .card:nth-child(3) > .main,
  #portfolio > .cards > .card:nth-child(6) > .main {
    background-image: url('assets/cardsDesktop/card2.svg') !important;
  }

  #portfolio > .cards > .card:nth-child(4) > .main,
  #portfolio > .cards > .card:nth-child(7) > .main {
    background-image: url('assets/cardsDesktop/card3.svg') !important;
  }

  #about {
    padding: 130px 140px;
    background-image: url('assets/illustration-about-desktop.svg');
    background-position-y: 5%;
  }

  #about > p {
    float: left;
    width: 50%;
  }

  #about > .skillTypes {
    display: flex;
    justify-content: space-between;
  }

  #about > .skillTypes > li {
    align-items: baseline !important;
  }

  #about > .skillTypes > li > ul {
    align-items: baseline !important;
  }

  #contact {
    padding: 130px 135px;
    flex-direction: row;
    align-items: center;
  }

  #contact > h2 {
    width: 40%;
    text-align: left;
    font-size: 40px;
    line-height: 52px;
    margin-right: 24px;
  }

  #contact > form {
    width: 56%;
  }

  #contact > form > input[type='submit'] {
    margin: 0;
  }
}
