@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* Roboto 700 */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap'); /* Crete Round 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* Poppins 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* Inter 400 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); /* Inter 500 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap'); /* Inter 700 */

@media screen and (max-width: 950px) {
  section#headline {
    background-size: 45%;
    background-position-y: 240px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 24px;
}

/* HEADER STARTED */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3a39;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

header > h1 > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

header > .hamburger {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

header > .hamburger > .line {
  width: 20px;
  height: 2px;
  background: rgba(103, 121, 142, 1);
  border-radius: 2px;
}

header > .is-active > .line:first-child {
  transform: translate(0, 120%) rotate(45deg);
  animation: line1 0.3s ease-in-out;
}

header > .is-active > .line:last-child {
  transform: translate(0, -120%) rotate(-45deg);
  animation: line2 0.3s ease-in-out;
}

header > .is-active > .line:nth-child(2) {
  display: none;
}

header > nav {
  display: none;
}

header > nav > ul {
  list-style-type: none;
  background-color: #3c3a39;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  padding: 48px 24px 0 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

header .nav-links li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

header .nav-links li.active {
  border-bottom: 1px solid #6f6c6b;
}

header .nav-links li {
  border-bottom: 1px solid #6f6c6b;
  padding: 0 16px 15px 16px;
}

header .nav-links li:last-child {
  display: none;
}

.modal.open {
  display: block;
}

header > .open {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  justify-content: center;
}

/* HEADER ENDED */

/* HEADLINE STARTED */

section#headline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 24px;
  height: 100vh;
  background-color: #1c1a19;
  background-image: url('./illustration-header-mobile.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 120px;
  background-size: inherit;
}

section#headline > .info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.modal-content > .modal-header > h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 5px;
}

section#contact > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

section#headline > .info > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-top: 120px;
}

section#headline > .info > h3.subject {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

section#headline > .info > p.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

ul.social_media {
  display: flex;
  list-style-type: none;
  column-gap: 16px;
  padding: 4px;
}

#contact_social {
  justify-content: center;
}

.modal-content .actionsContainer .btnContainer i {
  font-size: 24px;
  color: #fff;
  background: transparent;
  width: 24px;
  height: 24px;
}

#contact_social i {
  color: #1c1a19;
  font-size: 24px;
  margin-top: 23px;
  margin-bottom: 24px;
}

/* HEADLINE ENDED */

/* WORKS SECTION STARTED */

section#works {
  margin-top: 120px;
  margin-bottom: 120px;
}

section#works > .title > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  margin-bottom: 24px;
}

section#works > .title > .line {
  border: 1px solid #212121;
}

section#works > .cards {
  margin-top: 80px;
  display: grid;
  row-gap: 24px;
}

section#works > .cards > .specialCard {
  display: flex;
  flex-direction: column;
}

section#works > .cards > .otherCards {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

section#about > .hardSkills > ul > li:first-child > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

section#works > .cards > .specialCard > .description {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

section#works > .cards > .specialCard > .description > h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.modal-content > .modal-body p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

section#about > .info > .content > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.modal-content > .modal-body > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-content .actionsContainer .btnContainer img {
  width: 24px;
  height: 24px;
  color: transparent;
}

#work img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

section#works > .cards > .specialCard > .description > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

section#works > .cards > .specialCard > .description > ul.languages {
  float: left;
  list-style-type: none;
  white-space: nowrap;
}

.modal-content > .modal-header > .languages > li {
  padding: 10px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #979493;
}

section#about > .hardSkills > ul > li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

section#about > .hardSkills > ul > li:first-child {
  display: flex;
  column-gap: 12px;
}

section#works > .cards > .specialCard > .description > ul.languages > li {
  display: inline-block;
  width: fit-content;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
}

.modal-content .actionsContainer button {
  background: #ff6b00;
  border: none;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

section#contact > form button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  background: #ff6b00;
  padding: 12px;
  border: 1px solid transparent;
  width: fit-content;
}

section#contact button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

section#contact button:active {
  background: #e05304;
  border: 1px solid transparent;
  color: #f4f1f0;
  cursor: pointer;
}

section#about > .info > .content > button {
  background: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: 1px solid transparent;
  width: fit-content;
  margin-bottom: 210px;
}

section#about > .info > button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

section#about > .info > button:active {
  background: #e05304;
  border: 1px solid transparent;
  color: #f4f1f0;
  cursor: pointer;
}

section#works > .cards > .specialCard > .description > button {
  background-color: #ff6b00;
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  border: 1px solid transparent;
}

section#works > .cards > .otherCards > .card > button {
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  margin-top: 10px;
  visibility: hidden;
}

section#works > .cards > .otherCards > .card {
  background-image: url('./worksBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
}

section#works .cards > .otherCards button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

section#works .cards > .specialCard button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

section#works .cards > .otherCards button:active {
  background: #e05304;
  border: 1px solid transparent;
  color: #f4f1f0;
  cursor: pointer;
}

section#works .cards > .specialCard button:active {
  background: #e05304;
  border: 1px solid transparent;
  color: #f4f1f0;
  cursor: pointer;
}

section#works > .cards > .otherCards > .card:hover button {
  visibility: visible;
  width: 100%;
  transition: all 0.5s ease;
}

section#works > .cards > .otherCards > .card:hover {
  border: 1px solid #262626;
}

section#works > .cards > .otherCards > .card > .information {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

section#works > .cards > .otherCards > .card > .information > h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 84px;
}

section#works > .cards > .otherCards > .card > .information > p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

section#works > .cards > .otherCards > .card > .information > ul.languages {
  display: flex;
  list-style-type: none;
  column-gap: 12px;
}

section#works > .cards > .otherCards > .card > .information > ul.languages > li {
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

/* WORKS SECTION ENDED */

/* ABOUT SECTION STARTED */

section#about {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
}

section#about > .info {
  background-image: url('./illustration-about-me-mobile.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

section#about > .info > .content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

section#about > .info > .content > h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

section#about > .hardSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding-top: 120px;
}

section#about > .hardSkills > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  list-style-type: none;
}

/* SECTION ABOUT ENDED */

/* CONTACT SECTION STARTED */

section#contact {
  margin-top: 120px;
  padding-bottom: 120px;
}

section#contact > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

section#contact > form input,
section#contact > form textarea {
  padding: 14px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  width: 100%;
}

section#contact > form textarea {
  background-color: #fbf8f7;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  backdrop-filter: blur(4px);
  margin: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  filter: blur(0);
  width: calc(100% - 32px);
  height: auto;
  padding: 16px;
}

.modal-content > .modal-header > .languages {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 6px;
  margin-top: 22px;
}

.close {
  color: #67798e;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > .modal-body {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.modal-content .actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
  row-gap: 12px;
}

.modal-content .actionsContainer .btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: #ff6b00;
  padding-right: 12px;
}

@media screen and (min-width: 776px) {
  .container {
    padding: 0 142px !important;
  }

  header {
    height: 72px;
  }

  header a {
    font-size: 20px;
    line-height: 20px;
  }

  header > .open {
    position: relative;
  }

  header h1 {
    display: block;
    font-size: 20px;
    line-height: 20px;
  }

  header > .hamburger {
    display: none;
  }

  header > nav {
    display: block;
  }

  header > nav > ul {
    column-gap: 24px;
    list-style-type: none;
    background-color: #3c3a39;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0;
  }

  header .nav-links li a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transform: translate(0, 5%);
  }

  header .nav-links li {
    border-bottom: none;
  }

  header .nav-links li.active {
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease-in-out;
  }

  header .nav-links li.active a {
    color: rgba(245, 231, 231, 0.849);
  }

  header .nav-links li:last-child {
    display: block;
  }

  /* HEADER ENDED */

  /* HEADLINE SECTION STARTED */

  section#headline {
    row-gap: 24px;
    background-image: url(Illustration-header.svg);
    background-position-x: 130%;
    background-size: inherit;
    padding-top: 190px;
    background-position-y: -50px;
  }

  section#headline > .info {
    width: 490px;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  section#contact > h2 {
    width: 40%;
    min-width: 320px;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
  }

  section#headline > .info > h2 {
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    padding: 0;
  }

  section#headline > .info > h3 {
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  section#headline > .info > p {
    font-size: 20px;
    line-height: 32px;
  }

  section#headline > ul.social_media {
    order: -1;
    flex-direction: column;
    margin-right: 87px;
    row-gap: 23px;
  }

  /* HEADLINE SECTION ENDED */

  /* WORKS SECTION STARTED */

  section#works {
    margin-top: 130px;
    margin-bottom: 130px;
  }

  section#works > .title {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  section#works > .title > h2 {
    white-space: nowrap;
  }

  section#works > .title > .line {
    width: 100%;
    height: 1px;
    transform: translateY(-10px);
  }

  section#works > .cards {
    margin-top: 114px;
    display: grid;
    row-gap: 24px;
  }

  section#works > .cards > .specialCard {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
  }

  .modal-content > .modal-body > img {
    width: 659px;
    height: 60%;
  }

  section#works > .cards > .specialCard > img {
    width: 58%;
  }

  section#works > .cards > .specialCard > .description {
    width: 38%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  section#works > .cards > .otherCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 36px;
    justify-content: space-around;
  }

  section#works > .cards > .otherCards > .card {
    width: 30%;
    min-width: 280px;
  }

  /* WORKS SECTION ENDED */

  /* ABOUT SECTION STARTED */

  section#about {
    margin-top: 130px;
  }

  section#about > .info {
    background-image: url('illustration-about\ me.svg');
    background-repeat: no-repeat;
    background-position: center right;
  }

  section#about > .info > .content {
    width: 500px;
  }

  section#about > .info > .content > button {
    margin-bottom: 130px;
  }

  section#about > .hardSkills {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  section#about > .hardSkills > ul {
    align-items: flex-start;
  }

  section#contact {
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 24px;
    margin-bottom: 130px;
  }

  section#contact > form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
  }

  .modal-content {
    height: auto;
    width: calc(100vw - 200px);
    margin: 100px auto;
    padding: 24px;
  }

  .modal-content > .modal-header > .languages {
    margin-top: 12px;
  }

  .close {
    top: 38px;
    right: 38px;
  }

  .modal-content > .modal-body {
    flex-direction: row;
    column-gap: 25px;
    position: relative;
  }

  .modal-content > .modal-body .modal-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .modal-content .actionsContainer {
    position: absolute;
    bottom: 0;
    justify-content: flex-start;
    column-gap: 12px;
  }
}

@media (min-width: 776px) and (max-width: 890px) {
  section#headline {
    background-position-y: 200px;
  }
}

@keyframes line1 {
  from {
    transform: none;
  }

  to {
    transform: translate(0, 120%) rotate(45deg);
  }
}

@keyframes line2 {
  from {
    transform: none;
  }

  to {
    transform: translate(0, -120%) rotate(-45deg);
  }
}
